html {
  height: 100%;
  width: 100%;
}
Body {background-image: url("https://i.makeagif.com/media/12-12-2023/MveDAZ.gif");}
p {color: #0a17a8; text-align: center; position: relative; top: 100px; left: 20px; background-color: #black; }